{% extends 'base.html' %}

{% load static %}

{% block title %}Our Dentists - QuantumCare{% endblock %}

{% block content %}



<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PureSmiles Clinic - We Are Best Dental Clinic</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="../../../static/favicon.svg" type="image/svg+xml">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:wght@400;500;600&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!--
    - #HEADER
  -->

  <header class="header">


    <div class="header-bottom" data-header>
      <div class="container">

        <a href="#" class="logo">PureSmiles Clinic</a>

        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li>
              <a href="{% url 'dental_home' %}" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li>
              <a href="{% url 'dental_services' %}" class="navbar-link" data-nav-link>Services</a>
            </li>

            <li>
              <a href="{% url 'dental_about' %}" class="navbar-link" data-nav-link>About Us</a>
            </li>

            <li>
              <a href="{% url 'dental_blog' %}" class="navbar-link" data-nav-link>Blog</a>
            </li>

            <li>
              <a href="{% url 'dental_doctors' %}" class="navbar-link" data-nav-link>Doctors</a>
            </li>

          </ul>
        </nav>

        <a href="{% url 'book_appointment' %}" class="btn btn-primary">Book Appointment</a>

        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>

      </div>
    </div>

  </header>






      <!--
        - #DOCTOR
      -->

      <section class="section doctor" aria-label="doctor">
        <div class="container">

          <p class="section-subtitle text-center">Our Doctor</p>

          <h2 class="h2 section-title text-center">Best Expert Dentist</h2>

          <ul class="has-scrollbar">

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="../../../static/images/doctor-1.png" width="460" height="500" loading="lazy" alt="Howard Holmes"
                       class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Howard Holmes</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="../../../static/images/doctor-2.png" width="460" height="500" loading="lazy" alt="Ella Thompson"
                       class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Ella Thompson</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="../../../static/images/doctor-3.png" width="460" height="500" loading="lazy" alt="Vincent Cooper"
                       class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Vincent Cooper</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="../../../static/images/doctor-4.png" width="460" height="500" loading="lazy" alt="Danielle Bryant"
                       class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Danielle Bryant</a>
                </h3>

                <p class="card-subtitle">Dentist</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

          </ul>

        </div>
      </section>


      <!--
        - #CTA
      -->

          <section class="section cta" aria-label="cta">
            <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">

              <div class="cta-content" style="text-align: center; padding: 20px;">
                <p class="section-subtitle" style="margin-bottom: 10px;">Book Dental Appointment</p>
                <h2 class="h2 section-title" style="margin-bottom: 20px;">We Are Open And Welcoming Patients</h2>
                <a href="{% url 'book_appointment' %}" class="btn btn-primary">Book Appointment</a>
              </div>

            </div>
          </section>





 <!--
    - #FOOTER
  -->





  <!--
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
  </a>





  <!--
    - custom js link
  -->
  <script src="../../../static/styles/script.js" defer></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>

{% endblock %}